p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.brand-name {
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    
}

.pro-color {
    color: rgb(30, 30, 30);
}

.logo {
    width: 50px;
    object-fit: cover;
    vertical-align: middle;
    object-position: center;
    display: inline-block;
}

.portfolio-name {
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 600px;
}

body {
    margin: 0;
}

.home-background {
    background-color: rgb(92, 89, 89);
    background-image: url('../background2.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    padding-bottom: 1000px;
}

.introduction {
    display: inline-block;
    margin-left: 70px;
    margin-top: 180px;
    margin-right: 500px;
}

.greeting {
    font-size: 60px;
    color: rgb(199, 197, 194);
    font-weight: 700;
}

.name-intro {
    font-size: 60px;
    color: rgb(199, 197, 194);
}

.name {
    font-weight: bold;
}

.status {
    font-size: 60px;
    color: rgb(199, 197, 194);
}

.horizontal-adjustment {
    border: 2px solid rgb(199, 197, 194);
    width: 90%;
    margin-left: 0;
}

.horizontal-positioning {
    margin-top: 50px;
}

.objective {
    font-size: 35px;
    color: rgb(199, 197, 194);
    width: 1000px;
}

.objective-positioning {
    display: inline-block;
    margin-top: 60px;
    margin-left: 70px;
}

.profile-position {
    margin-top: 150px;
    display: inline-block;
}

.profile-picture {
    border-radius: 300px;
    width: 600px;
}

.content {
    display: inline-block;
    vertical-align: top;
}

.sample {
    display: inline-block;
    vertical-align: middle;
    
}

.nav-manipulation {
    text-decoration: none;
    color: black;
    font-size: 23px;
    margin-left: 120px;
}

.nav-manipulation:hover {
    color: white;
}

.nav-manipulation:active {
    color: black;
}